{% extends 'hospital/admin_base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link
rel="stylesheet"
type="text/css"
href="{% static '/admin_add_appointment.css' %}"
/>
  <style>
    footer {
      margin-left: 13%; /* Adjust the margin as needed */
    }
  </style>
</head>
<br><br>
<!------ add appointment page by admin(Ravi)  ---------->
<form method="post">
  {% csrf_token %}
  <div class="container register-form" style="margin-bottom:0px;height:54vh;width:80%;margin-top:20px;>
    <div class="form">
      <div class="note">
        <p>Book Appointment Details</p>
      </div>
      <div class="form-content">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              {% render_field appointmentForm.description class="form-control" placeholder="Description" %}
            </div>
            <div class="form-group">
              {% render_field appointmentForm.doctorId class="form-control" placeholder="doctor" %}
            </div>
            <div class="form-group">
              {% render_field appointmentForm.patientId class="form-control" placeholder="patient" %}
            </div>

          </div>

        </div>
        <button type="submit" class="btnSubmit">Book</button>
      </div>
    </div>
  </div>
</form>

<!--
developed By :  Amikom Purwokerto
-->

{% endblock content %}
