{% extends 'hospital/homebase.html' %}
{% load static %}
<!--
developed By :  Amikom Purwokerto
-->

{% block content %}


<br>
<br>

<div class="container" style="margin-bottom:0px;height:48vh;width:100%;margin-top:10%;">
  <h1 class="display-4" style="text-align:center;">Hello, Doctor</h1>
  <p class="lead">Welcome to Hospital Management System.</p>
  <hr class="my-4">
  <p>You can access various features after Login/SignUp.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/doctorsignup" role="button">Apply</a>
    <a class="btn btn-primary btn-lg" href="/doctorlogin" role="button">Login</a>
  </p>
</div>

{% endblock content %}
